<h1>New Proposal</h1>

<div>
  <form #proposalForm='ngForm'>
    <label for='customer'>Customer Name</label>
    <input
      type='text'
      id='customer'
      placeholder='abc company'
      name='customer'
      #customer='ngModel'
      [(ngModel)]='proposal.customer'
      required
    >
    <div [hidden]='customer.valid || customer.pristine'>
      Customer name is required
    </div>

    <label for='portfolio_url'>Portfolio URL</label>
    <input
      type='text'
      id='portfolio_url'
      name='portfolio_url'
      #portfolio_url='ngModel'
      [(ngModel)]='proposal.portfolio_url'
      required
    >
    <div [hidden]='portfolio_url.valid || portfolio_url.pristine'>
      URL is required
    </div>

    <label for='tool'>Tools that you'll use on the project</label>
    <input
      type='text'
      id='tools'
      placeholder='Ruby on Rails, Angular, etc'
      name='tools'
      #tools='ngModel'
      [(ngModel)]='proposal.tools'
      required
    >
    <div [hidden]='tools.valid || tools.pristine'>
      You need to have blah blah is required
    </div>

    <label for='estimated_hours'>Estimated hours</label>
    <input
      type='number'
      id='estimate_hours'
      name='estimated_hours'
      #estimated_hours='ngModel'
      [(ngModel)]='proposal.estimated_hours'
      required
    >
    <div [hidden]='estimated_hours.valid || estimated_hours.pristine'>
      Customer name is required
    </div>

    <label for='hourly_rate'>Hourly Rate</label>
    <input
      type='number'
      id='hourly_rate'
      name='hourly_rate'
      #hourly_rate='ngModel'
      [(ngModel)]='proposal.hourly_rate'
      required
    >
    <div [hidden]='hourly_rate.valid || hourly_rate.pristine'>
      Customer name is required
    </div>

    <label for='weeks_to_complete'>Weeks to Complete</label>
    <input
      type='number'
      id='weeks_to_complete'
      name='weeks_to_complete'
      #weeks_to_complete='ngModel'
      [(ngModel)]='proposal.weeks_to_complete'
      required
    >
    <div [hidden]='weeks_to_complete.valid || weeks_to_complete.pristine'>
      Customer name is required
    </div>

    <label for='client_email'>Client Email</label>
    <input
      type='text'
      id='client_email'
      name='client_email'
      #client_email='ngModel'
      [(ngModel)]='proposal.client_email'
      required
    >
  </form>
</div>

<div>
  Hi {{ proposal.customer }}
</div>
